@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@600&family=Love+Ya+Like+A+Sister&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}


body::-webkit-scrollbar{
    display: none;
    
}

.header-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header{
    position: relative;
}

#header #heading{
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #fff;
    margin-top: 40px;
    font-size: 3rem;
}

#header p{
    font-size: 50px;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #fff;
    text-align: center;
    margin-top: -20px;
}

#heading span{
    width: 100%;  
}


.score-data{
    font-family: 'Love Ya Like A Sister', cursive;
    color: #005;
    position: relative;
}


.wrapper{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    /* padding: 20px; */
    margin: 50px auto;
    font-family: 'Love Ya Like A Sister', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* animation: slide-left 2s; */
}

.wrapper h2{
    text-align: center;
}

.wrapper div{
    display: none;
    position: relative;
    /* border: 1px solid green; */
    padding: 10px 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



@keyframes slide-left{
    0%{
        opacity: 0;
        margin-top: -100%;
    }

    50%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
        margin-top: 0%;
    }
}

.wrapper div p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.wrapper div button:hover{
    cursor: pointer;
}

.wrapper .first{
    display: block;    
    text-align: center;
    margin: auto;
}


#last-words{
    width: 20ch;
    display: none;
    font-size: 30px;
    margin: 0px auto;
    transform: translateY(-50%);
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgba(255,255,255,.75);
    animation: typeWriter 4s steps(20) 1s 1 normal both,
                blinkTextCursor 500ms steps(20) infinite normal;
}




@keyframes typeWriter{
    0%{
        width: 0ch;
    }
    100%{
        width: 19ch;
    }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(231, 210, 22, 0.75);}
    to{border-right-color: transparent;}
  }





/* ***** Media Query ***** */
@media screen and (max-width: 476px){

    .wrapper{
        width: auto;
        height: auto;
        /* margin: 0px auto; */
    }

    #header #heading,#header p{
        font-size: 1.5rem;
    }
    
}
